<div>
    <label for="config-numberOfMilestonesToDisplay">{{ "Number of milestones to display"|trans({}, 'admin') }}</label>
    <input type="number" min="1" step="1" required id="config-numberOfMilestonesToDisplay" name="config[numberOfMilestonesToDisplay]" value="{{ configuration.get('numberOfMilestonesToDisplay') }}">
</div>
